/*公用*/
.comWidth {
	width: 1000px;
	margin: 0 auto;
}

.leftArea {
	float: left;
}

.rightArea {
	float: right;
}

.hide {
	display: none;
}

.show {
	display: block;
}


/*topBar*/
.topBar {
	height: 31px;
	background-color: #f7f7f7;
	line-height: 31px;
}

.collection {
	background: url(../images/icon/star.jpg) left center no-repeat;
	padding-left: 19px;
	font-weight: bold;
}

.topBar a:hover {
	color: red;
}


/*logo*/
.logoBar {
	height: 85px;
	background-color: #1d7ad9;
}

.logo {
	padding-left: 41px;
	padding-top: 13px;
}


/*search*/
.search_box {
	width: 430px;
	padding-top: 23px;
	padding-left: 185px;
}

.search_text {
	width: 350px;
	height: 35px;
	line-height: 35px\9;
	/*css hack \9代表所有的ie浏览器*/
	padding: 0 5px;
	background-color: #fff;
}

.search_btn {
	width: 70px;
	height: 35px;
	font-size: 14px;
	font-family: "microsoft yahei", "微软雅黑";
	background-color: #ff8c00;
	color: #fff;
}


/*购物车*/
.shopCar {
	width: 145px;
	height: 35px;
	background-color: #FF8C00;
	margin-top: 23px;
	font: 14px/35px "microsoft yahei", "微软雅黑";
	color: #fff;
	margin-right: 59px;
	display: inline;
}

.shopText {
	height: 100%;
	width: 87px;
	border-right: 1px solid #E27a00;
	background: url(../images/icon/shopIcon.jpg) 10px center no-repeat;
	text-indent: 40px;
}

.shopNum {
	width: 27px;
	height: 35px;
	border-left: 1px solid #ff9c01;
	background: url(../images/icon/sj.jpg) 33px center no-repeat;
	text-align: right;
	padding-right: 29px;
}


/*导航*/
.navBox {
	height: 35px;
	background-color: #1369c0;
	color: #fff;
}

.shopClass {
	position: relative;
	width: 190px;
}

.shopClass h3 {
	line-height: 35px;
	text-align: center;
}

.shopClass i {
	width: 11px;
	height: 7px;
	overflow: hidden;
	background: url(../images/icon/down.png) left center no-repeat;
	display: inline-block;
	margin-left: 11px;
}

.nav,
.shopClass h3 {
	font-family: "microsoft yahei", "微软雅黑";
}

.nav {
	line-height: 35px;
}

.nav li {
	float: left;
}

.nav a {
	height: 35px;
	display: inline-block;
	padding: 0 35px;
	color: #fff;
}

.nav .active {
	background-color: #4593fd;
}


/*商品弹出列表*/
.shopClass_show {
	position: absolute;
	left: 0;
	top: 35px;
	width: 100%;
	background-color: #4593fd;
	padding-bottom: 1px;
}

.shopClass_item {
	padding: 13px 10px;
	border-bottom: 1px solid #3487f2;
	border-top: 1px solid #5aa1fe;
	line-height: 16px;
}

.shopClass_item dt {
	height: 21px;
	line-height: 1;
	overflow: hidden;
	background: url(../images/icon/shop_sj.png) right center no-repeat;
}

.shopClass_item .b {
	font: 14px/1 "microsoft yahei", "微软雅黑";
}

.shopClass_item a {
	color: #fff;
}

.shopClass_item a:hover {
	text-decoration: underline;
}

.shopClass_item .aLink {
	width: 48px;
	height: 20px;
	background: url(../images/icon/aLink.png) left center no-repeat;
	display: inline-block;
	text-align: center;
	line-height: 20px;
	text-decoration: underline;
}


/*shopClass_item active 状态*/
.shopClass_active {
	background-color: #fff;
	border-left: 1px solid #4593FD;
}

.shopClass_active dt {
	background: none;
}

.shopClass_active a {
	color: #000;
}

.shopClass_active .aLink {
	color: #fff;
	text-decoration: none;
}


/*弹出的菜单*/
.shopClass_list {
	position: absolute;
	left: 190px;
	top: 35px;
	width: 568px;
	border: 1px solid #ddd;
}

.shopClass_content {
	padding: 0 20px;
}

.shopList_item {
	padding: 10px 0;
	border-bottom: 1px solid #ddd;
}

.shopList_item dt {
	color: #4b87d9;
	line-height: 24px;
	font-weight: bold;
	height: 24px;
}

.shopList_item dd {
	padding-left: 68px;
	line-height: 24px;
	margin-top: -24px;
}

.shopList_item dd a {
	margin-right: 12px;
}

.shopList_links {
	padding: 15px 0;
}

.shopList_links a {
	color: #fff;
	background-color: #2785e6;
	height: 26px;
	line-height: 26px;
	font-size: 12px;
	display: inline-block;
	padding: 0 14px 0 8px;
	margin-right: 10px;
}

.shopList_links span {
	width: 11px;
	height: 7px;
	background: url(../images/icon/shopLink_sj.png) left center no-repeat;
	display: inline-block;
	margin-left: 7px;
}


/*banner部分*/
.banner {
	margin-bottom: 15px;
}

.banner_bar {
	float: right;
	position: relative;
	overflow: hidden;
}

.imgBox {
	position: absolute;
	left: 0;
	top: 0;
}

.imgBox li {
	float: left;
}

.imgBox img {
	display: block;
}

.imgNum {
	position: absolute;
	left: 0;
	bottom: 15px;
	width: 100%;
	text-align: center;
}

.imgNum a {
	width: 20px;
	height: 5px;
	overflow: hidden;
	background-color: #fff;
	display: inline-block;
	margin: 0 3px;
}

.imgNum .active {
	background-color: #ff7700;
}

.banner_big,
.banner_big img {
	width: 810px;
	height: 326px;
}

.banner_big .imgBox {
	width: 1620px;
	height: 326px;
}

.banner_sm,
.banner_sm img {
	width: 190px;
	height: 400px;
}

.banner_sm .imgBox {
	width: 380px;
	height: 400px;
}


/*商品标题*/
.shopTitle {
	height: 44px;
	font-family: "microsoft yahei", "微软雅黑";
	line-height: 44px;
	margin-bottom: 15px;
}

.shopTitle h3 {
	font-size: 24px;
	float: left;
	font-weight: normal;
	padding-left: 15px;
}

.icon {
	width: 44px;
	height: 44px;
	background: url(../images/icon/shopTitle.jpg) left top no-repeat;
	float: left;
}

.more {
	float: right;
	font-family: "宋体";
}

.more:hover {
	text-decoration: underline;
}


/*商品列表*/
.shopList .leftArea {
	width: 190px;
}

.shopList .rightArea {
	width: 808px;
	border: 1px solid #e5e5e5;
	border-bottom: 3px solid #ff7201;
	height: 396px;
	overflow: hidden;
}


/*商品列表-右侧*/
.shopList {
	margin-bottom: 15px;
}

.shopList_top {
	margin-right: -4px;
}

.shop_item {
	width: 202px;
	height: 279px;
	border-right: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
	text-align: center;
	font-family: "microsoft yahei", "微软雅黑";
	float: left;
}

.shop_img {
	height: 218px;
}

.shop_img img {
	width: 100%;
	height: 218px;
	display: block;
}

.shop_item h3 {
	font-size: 16px;
}

.shop_item p {
	font-size: 14px;
	color: #ff7300;
	line-height: 21px;
}


/*商品列表-小*/
.shopItem_sm {
	width: 202px;
	border-right: 1px solid #e5e5e5;
	height: 116px;
	float: left;
}

.shopItem_sm_last {
	width: 199px;
}

.shopItem_smImg {
	width: 95px;
	height: 95px;
	text-align: center;
	float: left;
}

.shopItem_smImg img {
	width: 95px;
	height: 95px;
}

.shopItem_text {
	padding-top: 28px;
	width: 100px;
	float: left;
}

.shopItem_text p {
	color: #ff7300;
}

.shopItem_text h3 {
	font-family: "microsoft yahei", "微软雅黑";
	font-size: 16px;
	font-weight: normal;
	color: #181818;
	line-height: 30px;
}


/*底部*/
.footer {
	text-align: center;
	background-color: #d4d4d4;
	line-height: 24px;
	padding: 50px 0;
}

.footer i {
	font-style: normal;
	margin: 0 5px;
}

.footer a {
	color: #000;
}

.footer a:hover {
	color: #f60;
}

.web {
	padding-top: 30px;
}

.web img {
	margin: 0 12px;
}
.hr_45{
	height: 45px;
}
.hr_25 {
	height: 25px;
}

.hr_15 {
	height: 15px;
	overflow: hidden;
}

.hr_7 {
	height: 7px;
	overflow: hidden;
}


/*产品分类*/
.products .leftArea {
	width: 185px;
}

.products .rightArea {
	width: 810px;
}

.products .banner_bar {
	float: none;
}

.products .item {
	width: 25%;
	margin-bottom: 10px;
}


/*产品分类导航*/
.leftNav {
	background-color: #f3f3f3;
	border: 1px solid #d7d7d7;
}

.nav_title {
	height: 34px;
	line-height: 34px;
	font-size: 14px;
	border-bottom: 1px solid #d7d7d7;
	text-align: center;
}

.nav_content {
	padding: 0 18px 4px;
	border-bottom: 1px dotted #d7d7d7;
	margin-bottom: -1px;
}

.nav_content h3 {
	font-size: 12px;
	height: 30px;
	line-height: 30px;
}

.navCont_list {
	line-height: 25px;
}

.navCont_list li {
	float: left;
	width: 50%;
}

.vertical li {
	width: auto;
	float: none;
	padding-left: 8px;
}

.vertical .nav_title,
.vertical .nav_content h3 {
	font-family: "microsoft yahei", "微软雅黑";
	font-size: 14px;
}


/*标题*/
.products_title {
	height: 34px;
	border-bottom: 2px solid #ccc;
}

.products_title h3 {
	width: 180px;
	border-bottom: 2px solid #096dba;
	height: 34px;
	line-height: 34px;
	text-indent: 9px;
}


/*商品*/
.item {
	float: left;
	position: relative;
}

.item_content {
	padding: 0 15px;
}

.img_item {
	height: 170px;
	text-align: center;
}

.img_item img {
	height: 170px;
}

.item p {
	line-height: 20px;
}

.item a {
	color: #000;
}

.item a:hover {
	text-decoration: underline;
}

.money {
	color: #d4105a;
	font-weight: bold;
	padding-top: 10px;
}

.stars {
	width: 13px;
	height: 12px;
	overflow: hidden;
	background: url(../images/icon/products_star.jpg) left top no-repeat;
	display: inline-block;
	margin-right: 1px;
}

.hot {
	width: 52px;
	height: 52px;
	background: url(../images/icon/hot.jpg) left top no-repeat;
	position: absolute;
	right: 0;
	top: 0;
}


/*筛选*/
.screening_title {
	border-bottom: 1px solid #d9d9d9;
}

.screening_title dt {
	line-height: 32px;
	width: 74px;
	text-align: right;
	float: left;
	margin-right: 42px;
}

.screening_title dd {
	float: left;
	line-height: 32px;
	width: 168px;
	text-align: left;
}

.screening {
	border-bottom: 1px dotted #dddddd;
}

.screening dt {
	line-height: 32px;
	width: 74px;
	text-align: right;
	float: left;
	margin-right: 42px;
}

.limit {
	width: 55px;
	float: left;
	line-height: 32px;
}

.screening .active {
	background-color: #1d7ad9;
	color: #fff;
}

.screening a {
	padding: 2px;
}

.screening_list {
	line-height: 32px;
	width: 626px;
	float: left;
}

.screening_list li {
	width: 20%;
	float: left;
}

.screen_more {
	border: 1px solid #dcdcdc;
	height: 23px;
	line-height: 23px;
	margin-top: 4px;
	float: left;
	margin-right: 10px;
}

.addInfo {
	height: 31px;
	border: 1px solid #d9d9d9;
	background-color: #f5f5f5;
}

.address {
	float: left;
}

.address span {
	float: left;
	line-height: 31px;
	padding-left: 12px;
	padding-right: 6px;
}

.address_select {
	border: 1px solid #bfbfbf;
	height: 22px;
	line-height: 22px;
	margin-top: 4px;
	padding: 0 10px;
}

.screen_text {
	line-height: 31px;
	padding-right: 80px;
}

.check {
	position: relative;
	top: -1px;
}

.check input,
.check label {
	vertical-align: middle;
}

.shop_number em {
	color: #f00;
	font-style: normal;
	font-weight: bold;
}

.addCar {
	border: 1px solid #c3d5e7;
	height: 22px;
	display: inline-block;
	padding: 0 6px 0 23px;
	background: url(../images/icon/car.jpg) 6px center no-repeat;
}

a.addCar {
	color: #3a79c0;
}

a.comment {
	color: #1d7ad9;
}

.screening_list_more {
	padding-left: 0.5%;
}

.screening_list_more .item {
	width: 33.3%;
}


/*分页*/
.page {
	text-align: center;
}

.page a {
	height: 24px;
	display: inline-block;
	line-height: 24px;
	border: 1px solid #dddddd;
	padding: 0 12px;
	margin: 0 2px;
}

.page .ellipsis {
	display: inline-block;
	padding: 0 12px;
	margin: 0 2px;
}

.morePage {
	padding-left: 14px;
	display: inline-block;
	height: 24px;
	line-height: 24px;
}

.pageNum {
	width: 29px;
	padding: 0 3px;
	border: 1px solid #dddddd;
	height: 24px;
	line-height: 24px\9;
	text-align: center;
	margin-left: 4px;
}

.page_btn {
	width: 44px;
	height: 24px;
	line-height: 24px;
	background-color: #e8e8e8;
	border: 1px solid #dddddd;
}

.page_text {
	padding: 0 8px 0 6px;
}


/*商品介绍*/
.bg {
	background-color: #f0f0f0;
}


/*面包屑*/
.userPosition {
	font-size: 0;
	font-family: verdana;
	margin-top: 25px;
	margin-bottom: 15px;
}

.userPosition em,
.userPosition span,
.userPosition a,
.userPosition strong {
	font-size: 12px;
}

.userPosition em {
	font-style: normal;
}

.userPosition a:hover {
	text-decoration: underline;
}

.description_info {
	background-color: #fff;
}

.description {
	border: 1px solid #ccc;
}

.description .leftArea {
	width: 309px;
}

.description .rightArea {
	width: 688px;
	border-left: 1px solid #ccc;
}


/*图片展示*/
.description_imgs .big {
	height: 340px;
	text-align: center;
}

.des_smimg {
	width: 265px;
	margin: 0 auto;
	padding-left: 1px;
}

.des_smimg li {
	float: left;
	margin-left: -1px;
}

.des_smimg img {
	border: 1px solid #ccc;
}

.des_smimg .active {
	position: relative;
	border-color: #317ee7;
}

.des_content {
	padding: 10px;
}

.des_content_title {
	font: bold 16px/22px "microsoft yahei", "微软雅黑";
	padding: 13px 25px;
}

.des_content .dl {
	margin-bottom: 8px;
}

.des_content .dt {
	width: 75px;
	float: left;
	color: #666;
	text-indent: 17px;
	line-height: 25px;
}

.des_content .dd {
	padding-left: 75px;
}

.des_money {
	font-size: 18px;
	color: #f30;
	font-family: verdana;
}

.des_money em {
	font-style: normal;
	font-size: 12px;
}


/*换购*/
.buy {
	padding-top: 4px;
	display: inline-block;
}

.buy_icon {
	width: 55px;
	height: 18px;
	display: inline-block;
	background: url(../images/icon/buy_icon.jpg) left top no-repeat;
	color: #fff;
	font-style: normal;
	text-indent: 16px;
	line-height: 18px;
	margin-right: 10px;
}


/*送货*/
.des_position {
	background-color: #f2f2f2;
	padding: 15px 0;
}

.des_more {
	border: 1px solid #dcdcdc;
	height: 22px;
	line-height: 22px;
	float: left;
	background-color: #FFF;
	padding-left: 10px;
	padding-right: 20px;
}

.goods {
	line-height: 24px;
	padding-left: 10px;
}

.des_content .colorSelect {
	line-height: 35px;
}

.des_item {
	margin-right: 10px;
	padding: 9px 10px;
	border: 1px solid #ccc;
	float: left;
	color: #000;
	background-color: #fff;
}

.des_item_active {
	border-color: #317EE7;
	color: #000;
}

.des_item_sm {
	padding: 3px 7px;
	margin-bottom: 8px;
}

.des_content .des_select_more {
	line-height: 55px;
}


/*数量*/
.des_number {
	border: 1px solid #b2b2b2;
	height: 32px;
	width: 82px;
	float: left;
}

.des_number div {
	height: 100%;
	float: left;
}

.reduction,
.plus {
	width: 15px;
	background: url(../images/icon/plus_bg.jpg) left top no-repeat;
	line-height: 32px;
	text-align: center;
	color: #333;
}

.reduction {
	border-right: 1px solid #ccc;
}

.plus {
	border-left: 1px solid #ccc;
}

.des_input {
	width: 42px;
	background: url(../images/icon/num.jpg) left top no-repeat;
	padding: 0 4px;
}

.des_input input {
	width: 100%;
	height: 100%;
	line-height: 32px\9;
	text-align: center;
}

.limit_buy {
	line-height: 32px;
	float: left;
	padding-left: 10px;
	font-weight: bold;
	color: #656565;
}

.limit_buy em {
	color: #fb7700;
	font-style: normal;
}

.des_content .des_num {
	line-height: 32px;
}


/*已选择*/
.des_select {
	font-weight: bold;
	margin: 22px 0 12px;
	text-indent: 17px;
}

.des_select span {
	color: #0479c9;
}

.shop_buy {
	text-align: center;
}

.shopping_btn,
.buy_btn {
	display: inline-block;
	width: 184px;
	height: 48px;
	line-height: 48px;
	background: url(../images/icon/buy_btn.jpg) left top no-repeat;
}

.line {
	width: 1px;
	height: 90px;
	overflow: hidden;
	background-color: #e5e5e5;
	display: inline-block;
	margin: 0 40px;
}

.line,
.shopping_btn,
.buy_btn {
	vertical-align: middle;
}

.notes {
	color: #ccc;
	text-indent: 17px;
}


/*产品介绍*/
.des_info .leftArea {
	width: 190px;
}

.des_info .rightArea {
	width: 790px;
}

.recommend {
	border: 1px solid #ccc;
	background-color: #fff;
	padding-bottom: 15px;
}

.recommend .tit {
	height: 39px;
	border-bottom: 1px solid #ccc;
	line-height: 39px;
	text-indent: 15px;
	font-size: 14px;
	background-color: #f3f3f3;
}

.recommend .item {
	float: none;
	height: auto;
}

.recommend .money {
	padding-top: 0;
}
/*详细介绍*/
.des_infoContent{
	border: 1px solid #ccc;
	background-color: #fff;
}
.des_title{
	height: 39px;
	border-bottom: 1px solid #ccc;
	background: url(../images/icon/des_title.jpg) left top repeat-x;
}
.des_title li{
	float: left;
	width: 50%;
	font:14px/39px "宋体";
	text-align: center;
	border-left: 1px solid #ccc;
	margin-left: -1px;
}
.des_title .active{
	background-color: #0479ca;
	font-weight: bold;
	color: #fff;
	position: relative;
}
.des_title span{
	padding-left: 32px;
	display: inline-block;
	line-height: 39px;
}
.des_introduce{
	background: url(../images/icon/des_introduce.png) left center no-repeat;
}
.des_evaluate{
	background: url(../images/icon/des_title_icon.png) left center no-repeat;
}
.ad{
	padding: 30px 0;
	text-align: center;
}
.info_text{
	padding: 0 20px;
}
.info_title{
	height: 26px;
	border-bottom: 1px solid #ccc;
	font-family: "microsoft yahei","微软雅黑";
	margin-bottom: 18px;
}
.info_title h3{
	float: left;
	font-size: 16px;
	color: #2357a5;
	border-bottom: 1px solid #2357a5;
	height: 26px;
	padding-right: 8px;
}
.info_title h4{
	font-size: 12px;
	line-height: 26px;
	padding-left: 4px;
	color: #656565;
}
.center{
	display: block;
	margin: 0 auto;
}
/*商品评价*/
.shopDes_title{
	line-height: 38px;
	height: 38px;
	font-size: 14px;
	color: #656565;
	padding-left: 10px;
}
.score_box{
	padding-left: 10px;
	height: 120px;
}
.score{
	font-family: "microsoft yahei","微软雅黑";
	float: left;
	margin-right: 10px;
}
.score em{
	font-size: 18px;
	color: #65657d;
	font-style: normal;
}
.score span{
	font-size: 50px;
	color: #ff8f00;
}
.score_speed{
	float: left;
	width: 450px;
	line-height: 16px;
	font-size: 12px;
	margin-top: 12px;
	position: relative;
}
.score_speed_text{
	height: 16px;
	overflow: hidden;
	color: #fff;
	margin-bottom: 10px;
	background-color: #bdbdbd;
}
.score_speed_text li{
	float: left;
}
.score_speed_text .speed_01{
	width: 114px;
	text-indent: 26px;
}
.score_speed_text .speed_02{
	width: 82px;
}
.score_speed_text .speed_03{
	width: 76px;
}
.score_speed_text .speed_04{
	width: 65px;
}
.score_num{
	position:absolute;
	left: 94%;
	top:-21px;
	text-align: center;
	width: 25px;
	height: 14px;
	color: #fff;
	background-color: #7f7f7f;
}
.score_num i{
	border-width: 4px;
	border-style: solid dashed dashed dashed;
	border-color:#7f7f7f transparent transparent transparent;
	width: 0;
	height: 0;
}
/*满意切换*/
.review_tab{
	height: 32px;
	background-color: #F2F2F2;
}
.review{
	line-height: 32px;
	height: 100%;
	padding-left: 20px;
}
.review li{
	float: left;
	height: 100%;
	margin-right: 40px;
}
.review li a{
	display: inline-block;
	height: 30px;
	line-height: 30px;
	padding: 0 5px;
}
.review .active{
	color: #317de6;
	font-weight: bold;
	border-bottom: 2px solid #317de6;
}
.review_sort{
	padding: 5px 5px 0 0;
}
.review_sort a{
	display: inline-block;
	line-height: 20px;
	height: 20px;
	border: 1px solid #ccc;
	padding: 0 20px 0 6px;
	background: url(../images/icon/review_down.png) 58px center no-repeat;
}
.review_list{
	padding-top: 18px;
	margin-bottom: 10px;
}
.review_userHead{
	width: 170px;
}
.review_user{
	width: 60px;
	text-align: center;
	margin-left: 40px;
}
.review_user img{
	width: 60px;
	height: 60px;
	display: block;
}
.review_user p{
	line-height: 20px;
}
.review_content{
	padding-left: 170px;
}
.starsBox .stars{
	margin-top: 1px;
}
.stars_text{
	font-weight: bold;
	padding-left: 10px;
}
.review_top{
	height: 30px;
	padding-top: 5px;
}
.review_content p{
	height: 30px;
}
/*购物车*/
.stepBox{
	width: 396px;
	padding-top: 26px;
}
.step{
	background: url(../images/step.jpg) left top no-repeat;
	height: 19px;
}
.step_text{
	color: #fff;
	font-size: 12px;
	line-height: 30px;
}
.step_text li{
	float: left;
}
.step_01,.step_03{
	width: 30%;
}
.step_02{
	width: 40%;
	text-align: center;
}
.step_03{
	text-align: right;
}
.step_text .active{
	color: #f3e402;
	font-weight: bold;
}
.shoppingCart{
	padding-top: 10px;
}
.shopping_item{
	border: 1px solid #ccc;
}
.shopping_title{
	height: 31px;
	background: url(../images/shopping_bg.jpg) left top repeat-x;
	color: #444;
	font: 16px/31px "microsoft yahei","微软雅黑";
	text-indent: 12px;
	border-bottom: 1px solid #e3e3e3;
}
.padding_shop{
	padding:25px 30px;
}
.shopping_list_text{
	float: left;
	width: 76px;
	line-height: 24px;
}
.shopping_list li{
	height: 24px;
	margin-bottom: 10px;
}
.shopping_list_text em{
	color:#ff0000;
	font-style: normal;
	margin-right: 5px;
}
.input{
	height: 22px;
	border: 1px solid #ccc;
	padding: 0 6px;
	width: 110px;
}
.input_b{
	width: 392px;
}
.input_s{
	width: 64px;
}
.input_s2{
	width: 84px;
}
.reduce{
	padding: 0 3px;
}
.affirm{
	width: 114px;
	height: 28px;
	background: url(../images/sh_btn.jpg);
}
.radio{
	position: relative;
	top:3px;
	margin-right: 4px;
}
.backCar{
	float: right;
	font-size: 12px;
	font-family: "宋体";
	margin-right: 33px;
	color: #3377ff;
}
.backCar:hover{
	text-decoration: underline;
}
.cart_head{
	padding-top: 5px;
}
.cart_head .cart_item{
	line-height: 28px;
}
.cart_item{
	border-bottom: 1px solid #ccc;
	float: left;
}
.t_name{
	width: 440px;
	padding-left: 30px;
}
.t_price{
	width: 134px;
}
.t_return{
	width: 136px;
}
.t_num{
	width: 135px;
}
.t_subtotal{
	width: 123px;
}
.t_red{
	color: #ff0000;
}
/*商品信息*/
.cart_content{
	border-bottom: 1px solid #ccc;
}
.cart_content .cart_item{
	border-bottom: none;
}
.cart_content .t_price,
.cart_content .t_return,
.cart_content .t_num,
.cart_content .t_subtotal
{
	line-height: 37px;
}
.cart_shopInfo img{
	width: 90px;
	height: 100px;
	display: block;
	float: left;
}
.cart_shopInfo_content{
	padding-left: 90px;
	font-size: 12px;
}
.cart_link{
	line-height: 37px;
	margin-bottom: 30px;
}
.cart_link a:hover{
	text-decoration: underline;
}
.cart_info{
	color: #000;
}
.cart_message{
	line-height: 40px;
	padding-left: 30px;
	margin-bottom: 10px;
}
.cart_prompt{
	line-height: 40px;
	padding-left: 30px;
	color: #ff0000;
}
.cart_prompt_icon{
	width: 12px;
	height: 12px;
	display: inline-block;
	background: url(../images/icon/icon_cart_prompt.jpg) left top no-repeat;
	margin-right: 11px;
}
.pb_10{
	padding-bottom: 10px;
}
.cart_no_bor{
	border-bottom: none;
}
.cart_rmb{
	margin-bottom: 16px;
}
.cart_rmb i{
	font-size: 14px;
	color: #999;
	font-style: normal;
}
.cart_rmb span{
	font:bold 24px/1 verdana;
	color: #ff0000;
}
.cart_btnBox{
	text-align: right;
}
.cart_btn{
	width: 165px;
	height: 33px;
	background-color: #e50007;
	font: 18px/33px "microsoft yahei","微软雅黑";
	color: #fff;
}
/*登录*/
.login_logo .comWidth{
	width: 460px;
}
.welcome_title{
	font: 22px/85px "microsoft yahei","微软雅黑";
	color: #fff;
	float: left;
	padding-left: 24px;
}
.loginBox{
	width: 458px;
	border: 1px solid #999;
	margin: 10px auto;
	position: relative;
}
.login_content{
	padding: 15px 40px;
}
.login_title{
	color: #666;
	line-height: 20px;
}
.login_input{
	border: 1px solid #999;
	height: 32px;
	line-height: 32px\9;
	width: 100%;
	text-indent: 5px;
}
.user_icon{
	background: url(../images/icon/user_icon.jpg) right center no-repeat;
}
.mb_10{
	margin-bottom: 10px;
}
.autoLogin{
	padding-top: 27px;
	padding-bottom: 28px;
}
.checked{
	position: relative;
	top:3px;
	margin-right: 3px;
}
.login_btn{
	width: 309px;
	height: 36px;
	background: url(../images/icon/login_btn.jpg) left top no-repeat;
}
.login_partners{
	padding-top: 34px;
}
.login_list li{
	float: left;
	line-height: 20px;
}
.login_list span{
	color: #999;
	margin: 0 2px;
}
.login_link{
	width: 115px;
	height: 31px;
	background: url(../images/icon/red_link.jpg) left top no-repeat;
	position: absolute;
	right: 31px;
	bottom: -31px;
}
/*注册*/
.reg_logo .comWidth{
	width: 630px;
}
.regBox{
	width: 628px;
	margin: 10px auto;
	border: 1px solid #ccc;
}
.reg_item{
	font: 14px/34px "宋体";
	width: 110px;
	text-align: right;
	float: left;
}
.reg_item i{
	color: red;
	font-style: normal;
	margin-right: 5px;
}
.input_item{
	width: 270px;
	float: left;
}
.regBox li{
	height: 70px;
	vertical-align: top;
}
.regBox .autoLogin{
	height: 46px;
	padding: 0;
}
.regBox .login_content{
	padding: 35px 76px 20px 76px;
}
